---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

@font-face {
    font-family: 'Diary';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

